.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 3px solid rgb(9, 10, 97);
  border-radius: 20px;
  padding-top: 30px;
  background-color: aliceblue;
  transition: border-color 0.3s;
  overflow: hidden;
  max-width: 120px;
  max-height: 200px;
}

.card:hover {
  border-color: rgb(245, 189, 36);
}

.card img {
  width: 85%;
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.2);
}

.card strong {
  align-self: stretch;
  font-size: 10pt;
  color: aliceblue;
  background-color: rgb(9, 10, 97);
  padding: 10px;
}
