#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Courier New", Courier, monospace;
}

header,
footer {
  background-color: rgb(9, 10, 97);
  color: aliceblue;
  padding: 5px;
}

header h1 {
  font-size: 1.5rem;
}

main {
  background-image: url("./assets/background.jpg");
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  border: 0.5rem solid rgb(9, 10, 97);
  border-radius: 1em;
  background-color: aliceblue;
  max-width: 750px;
  margin: 2em 1em;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.intro h2 {
  font-size: 1.2rem;
}

.intro p {
  font-size: 0.9rem;
  font-weight: bold;
}

hr {
  width: 100%;
  border-top: 2px dashed rgb(9, 10, 97);
}

.intro strong {
  font-size: 1rem;
  margin-top: 30px;
}

.level-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  font-size: 0.9rem;
  margin-top: 1em;
}

.level-btns button {
  border: 1px solid rgb(9, 10, 97);
  border-radius: 1em;
  padding: 15px;
  background-color: white;
  width: 90px;
  font-weight: bold;
}

.level-btns button.active {
  background-color: rgba(1, 103, 255, 0.178);
}

.start-btn {
  align-self: center;
  font-size: 1rem;
  font-weight: 900;
  border: 3px solid rgb(9, 10, 97);
  border-radius: 1em;
  padding: 1em;
  background-color: rgb(9, 10, 97);
  color: white;
  margin-top: 1em;
}
.start-btn:hover {
  border-color: rgb(245, 189, 36);
}

.game-ui {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.score {
  background-color: aliceblue;
  font-size: 1rem;
  border: 2px solid rgb(9, 10, 97);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.reset-btn {
  border: 2px solid rgb(9, 10, 97);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 2em;
  background-color: rgb(9, 10, 97);
  font-size: 1rem;
  font-weight: 900;
  color: aliceblue;
  transition: border-color 0.3s;
}

.reset-btn:hover {
  border-color: rgb(245, 189, 36);
}

footer {
  padding-top: 0.8em;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

footer p {
  margin: 0;
}

footer svg {
  width: 1.2rem;
  fill: white;
}
