#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  align-self: stretch;
  background-color: rgb(9, 10, 97);
  color: aliceblue;
}

.bg-image {
  background-image: url("./assets/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.game-ui {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.score {
  background-color: aliceblue;
  font-size: 30pt;
  border: 8px solid rgb(9, 10, 97);
  border-radius: 50px;
  margin-top: 50px;
  padding: 30px;
}
